<!-- Page Layout (page.ejs) -->
<% if (page.title == 'Home') { %>
  <div id="tagline">Live the days you can the ways you can</div>
<% } %>

<main>

  <%- partial('_partial/content-full', {item: page}) %>

</main>