<!-- Post Laytout (post.ejs) -->

<main>

  <%- partial('_partial/content-full', {item: page}) %>

	<!-- Sidebar is below in mobile view to the side in desktop -->
	
	<%- partial('_partial/sidebar', {item: page}) %>

</main>