#archivelist
  list-style-type: none
  padding: 0
  display: flex
  flex-wrap: wrap
  justify-content: space-around

  li
    display: flex
    flex-direction: column
    border: 1px solid darkgrey
    border-radius: 4px
    width: 48%
    margin-bottom: 6px

  img
    width: 100%

@media screen and (min-width: 600px)
  #archivelist
    li
      width: 32%