footer
	border-top: perforation

	ul
		display: inline
		padding: 0
		margin: 0
	
	li
		list-style-type: none
		display: inline
		margin: none
	
	a
		color: inherit
		text-decoration: none

.socialmedialinks
	display: flex
	flex-wrap: wrap
	width: 250px
	justify-content: center
	margin-left: auto
	margin-right: auto

#returncopy
	display: flex
	justify-content: space-between
	align-items: baseline

#licence
	img
		height: 24px
