footer
	border-top: perforation;

	ul
		display: inline;
		padding: 0;
		margin-left: auto;
		margin-right: auto;

	li
		list-style-type: none;
		display: inline;
		margin: none;

.socialmedialinks
	display: flex;
	flex-wrap: wrap;
	width: 250px;
	justify-content: center;
