#site-menu
  border-bottom: perforation
  
  ul
    display: flex;
    list-style-type: none;
    flex-direction: column;
    padding: 0;
    justify-content: center;
    align-items: center;

  a
    display: block;
    border: 1px lightgrey solid;
    padding: 8px;
    width: 200px;
    text-align: center;

.menuhidden
  display: none !important;


