#site-menu
  border-bottom: perforation
  
  ul
    display: flex
    list-style-type: none
    flex-direction: column
    padding: 0
    justify-content: center
    align-items: center

  a, a:visited
    display: block
    border: 1px lightgrey solid
    padding: 8px
    width: 200px
    text-align: center
    color: black

.menuhidden
  display: none !important

@media screen and (min-width: 600px)
  .menuhidden
    display: block !important

  #menu-toggle
    display: none

  #site-menu
    ul
      flex-direction: row
      margin: 4px
    a, a:visited
      border: none
      width: 100px
      padding: 0 8px