article
  
  img
    width: 98%
    border-radius: 4px
    margin: 0 auto
    display: block

// Swap where we put the image on the desktop layout
@media screen and (min-width: 600px)
  main
    padding: 0 4px
    display: flex

    article
      h1
        margin-top: 0
  
  article
    img
      display: none