// globals

perforation = 2px grey dotted;

// imports

@import "header.styl";
@import "menu.styl";
@import "body.styl";
@import "faq.styl"
@import "footer.styl";

// site frame

html
	background: grey;

body
	padding: 2px;
	border-radius: 4px;
	margin: 4px;
	background: white;

