<!-- Footer -->

<footer>

<!-- Social Media Links -->

	<ul class="socialmedialinks">
		<% if (theme.youtube) { %>
			<li><span class="mdi mdi-youtube mdi-48px"></span></li>
		<% } %>
		
		<% if (theme.twitter) { %>
			<li><span class="mdi mdi-twitter-box mdi-48px"></span></li>
		<% } %>
		
		<% if (theme.instagram) { %>
			<li><span class="mdi mdi-instagram mdi-48px"></span></li>
		<% } %>
		
		<% if (theme.googleplus) { %>
			<li><span class="mdi mdi-google-plus-box mdi-48px"></span></li>
		<% } %>
		
		<% if (theme.facebook) { %>
			<li><span class="mdi mdi-facebook-box mdi-48px"></span></li>
		<% } %>
		
		<% if (theme.tumblr) { %>
			<li><span class="mdi mdi-tumblr-box mdi-48px"></span></li>
		<% } %>
		
		<% if (theme.blogger) { %>
			<li><span class="mdi mdi-blogger mdi-48px"></span></li>
		<% } %>
		
		<% if (theme.medium) { %>
			<li><span class="mdi mdi-medium mdi-48px"></span></li>
		<% } %>
		
		<% if (theme.discord) { %>
			<li><span class="mdi mdi-discord mdi-48px"></span></li>
		<% } %>
		
		<% if (theme.behance) { %>
			<li><span class="mdi mdi-behance mdi-48px"></span></li>
		<% } %>
		
		<% if (theme.patreon) { %>
			<li><span class="mdi mdi-patreon mdi-48px"></span></li>
		<% } %>
		
		<% if (theme.kofi) { %>
			<li><span class="mdi mdi-coffee-outline mdi-48px"></span></li>
		<% } %>
	</ul>

<!-- Return to top and copyright / cc links -->

	<span class="mdi mdi-arrow-collapse-up mdi-48px"></span>

	<ul id="licence">
		<% if ((!page.licence) || (page.licence.includes('c'))) { %>
			<li>
				<span class="mdi mdi-copyright mdi-48px"></span>
			</li>
		<% } else { %>
			<% if (page.licence.includes('cc')) { %>
				<li>
					<img src="/images/licence/cc.svg" alt="Creative Commons"></img>
				</li>
			<% } %>
			<% if (page.licence.includes('by')) { %>
				<li>
					<img src="/images/licence/by.svg" alt="Attribution"></img>
				</li>
			<% } %>
			<% if (page.licence.includes('nc')) { %>
				<li>
					<img src="/images/licence/nc.svg" alt="No Commercial"></img>
				</li>
			<% } %>
			<% if (page.licence.includes('sa')) { %>
				<li>
					<img src="/images/licence/sa.svg" alt="Share Alike"></img>
				</li>
			<% } %>
			<% if (page.licence.includes('nd')) { %>
				<li>
					<img src="/images/licence/nd.svg" alt="No Derivatives"></img>
				</li>
			<% } %>
			<% if (page.licence.includes('pd')) { %>
				<li>
					<img src="/images/licence/pd.svg" alt="Public Domain"></img>
				</li>
			<% } %>
			<% if (page.licence.includes('sh')) { %>
				<li>
					<img src="/images/licence/sh.svg" alt="Share"></img>
				</li>
			<% } %>
			<% if (page.licence.includes('rm')) { %>
				<li>
					<img src="/images/licence/rm.svg" alt="Remix"></img>
				</li>
			<% } %>
		<% } %>
	</ul>

</footer>
