<!-- Page Header -->

<header>

	<a href="/"><img src="/images/WheeledNomad.svg" alt="<%- config.title || "Untitled" %>"></a>
	
	<i id="menu-toggle" class="mdi mdi-menu mdi-48px" alt=""></i>

</header>