<ul class="socialmedialinks">
<li><span class="mdi mdi-youtube"></span></li>
<li><span class="mdi mdi-twitter-box"></span></li>
<li><span class="mdi mdi-instagram"></span></li>
<li><span class="mdi mdi-facebook-box"></span></li>
<li><span class="mdi mdi-tumblr-box"></span></li>
<li><span class="mdi mdi-blogger"></span></li>
<li><span class="mdi mdi-medium"></span></li>
<li><span class="mdi mdi-discord"></span></li>
<li><span class="mdi mdi-behance"></span></li>
</ul>